
<div class="overlay"></div>
<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="mp4/bg.mp4" type="video/mp4">
</video>

<div class="masthead">
    <div class="masthead-bg"></div>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <div class="masthead-content text-white py-5 py-md-0">
                    <h1 class="mb-3">Hive Testnet Faucet</h1>
                    <p class="mb-5">This website allows you to claim testnet tokens. Keep in mind that those tokens are
                        <strong>worthless</strong>! They are only here for testing purposes <br/>
                        Input your username and you will get {{given_tokens}} TESTS and TBD (equivalent of HIVE and HBD on the testnet)
                    </p>
                    <p style="font-size: 15px">
                        In the faucet there is currently: <br/>
                        {{tests}} </br>
                        {{tbd}} </br>
                        Current chain id : <br/>{{chain_id}}</p>

                    {{#if result}}
                    <p style="font-size: 15px">
                        {{result}} TESTS and TBD are on your way :) </br>
                    </p>
                    {{/if}}
                    {{#if err}}
                    <p style="font-size: 15px">
                       Error : {{err}} </br>
                    </p>
                    {{/if}}
                    </br>
                    <form method="post" style="display: inline-block">
                        <div class="input-group input-group-newsletter">
                            <input type="text" class="form-control" name="username" placeholder="Enter Hive username..." aria-label="Enter Hive username..." aria-describedby="basic-addon">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="submit">Send tokens</button>
                            </div>
                        </div>
                    </form>
                    <br />
                    <p>This is a tool by <a href="https://peakd.com/@howo">@howo</a> <br/>
                        please consider voting for my <a href="https://peakd.com/hive/@howo/core-development-proposal-year-2">proposal</a> <br/>
                        And for the <a href="https://peakd.com/@steempress">@steempress</a> witness : <a href="https://hivesigner.com/sign/account-witness-vote?witness=steempress&approve=1">vote</a>

                    </p>

                </div>
            </div>
        </div>
    </div>
</div>

